* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('./pic2.jpg');
    background-size: cover;
    /* background-position: center; */
}

.nav-bar-container {
    /* background-color: #b2ebf2; */
    width: 100%;
    margin: 0 auto;
    border-bottom: 1px solid black;
}


.close-nav-bar-btn {
    position: absolute;
    right: 10px;
    top: 0;
    background: #eceff1;
    outline: none;
    border: 1px solid white;
    border-radius: 4px;
}

/* LOGO IMG */
.nav-bar-container img {
    height: auto;
    width: 250px;
    border-radius: 50%;
    margin-left: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* SEARCH BAR */
.search-bar-container {
    float: right;
    margin-top: 40px;
    margin-right: 100px;
}

.search-bar-container label {
    font-size: 40px;
    /* text-decoration: line-through #ffecb3; */
}

.search-bar-container input {
    border: 4px solid black;
    border-radius: 10px;
    opacity: 0.5;
    outline: none;
    font-size: 25px;
}


/* NAV LINKS */
.nav-bar-container ul {
    float: right;
    list-style: none;
    margin-right: 200px;
}

.nav-bar-container ul li {
    display: inline-block;
    margin-top: 20px;
    margin-left: 50px;
}

.nav-bar-container ul li a {
    color: black;
    text-decoration: none;
    line-height: 85px;
    font-size: 20px;
    text-decoration: underline #ffecb3;
}

.nav-bar-container ul li a:hover {
    text-decoration: underline #ffc107;
}


/* BLOG POSTS */
.blogs-container div {
    width: 200px;
    height: auto;
    padding: 40px;
    margin-top: 30px;
    margin-left: 30px;
    border: 1px solid black;
    border-radius: 10px;
    display: inline-block;
    position: relative;
}

.blogs-container div::before {    
    content: "";
    background-image: url('https://img.buzzfeed.com/buzzfeed-static/static/2017-12/27/12/asset/buzzfeed-prod-fastlane-01/sub-buzz-27993-1514395821-3.jpg?downsize=600:*&output-format=auto&output-quality=auto');
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 2px;
    left: 0px;
    opacity: 0.35;
}

.blogs-container h4 {
    padding-bottom: 20px;
    text-decoration: underline;
    font-size: 20px;
    position: relative;
}

.blogs-container p {
    font-weight: bold;
    position: relative;
}